@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
}
.header_container {
    justify-content: space-between;
    padding-block: 10px;
}
.header_container img {
    width: 200px;
}
.header_container ul li {
    display: inline-block;
    margin-left: 50px;
}
.header_container ul li:nth-last-child(1) a i {
    margin-right: 10px;
}
.nav_links {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}
.nav_links:hover {
    color: #d01e28;
}

/*! banner section  */
.banner {
    background-image: url("../images/banner-final1.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_container {
    justify-content: flex-end;
}
.concrete_calculator {
    border: 3px solid #fff;
    border-radius: 3px;
    background-color: #202023;
    align-items: flex-start;
    padding: 20px;
    width: 350px;
}
.concrete_calculator h2 {
    color: #d01e28;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 8px;
}
.concrete_calculator p {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.concrete_calculator form {
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}
.concrete_calculator form input {
    padding: 10px 20px;
    font-size: 13px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #eee;
    margin-bottom: 20px;
    margin-right: 10px;
    color: #000;
    letter-spacing: 1.2px;
}
.primary_button {
    padding: 10px 0;
    width: 120px;
    border-radius: 3px;
    border: none;
    background: #d01e28;
    color: #fff;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.primary_button:hover {
    background: #641115;
}
/*! hero section */
.hero {
    background-image: url("/images/background4png.png");
    background-size: cover;
    text-align: center;
    padding: 70px 0 0;
}
.hero_container h1 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.heading {
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
}
.heading::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #2b548d;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
.italic_text {
    font-size: 18px;
    font-weight: 500;
    margin: 40px 0 0;
    font-style: italic;
    line-height: 25px;
}
.main_text {
    font-size: 15px;
    line-height: 25px;
    padding: 2px 0;
    margin: 20px auto;
    color: #777;
}
.concrete_delivery_area {
    justify-content: space-between;
    margin-bottom: 20px;
}
.delivery_card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 16px;
    width: 350px;
    text-align: left;
    height: 242px;
}
.delivery_card:nth-child(2) {
    background-color: #e8fdfe;
    height: 254px;
    width: 368px;
}
.delivery_card p:nth-child(1) {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 1rem;
}
.delivery_card p i {
    color: #641115;
}
.concrete_text {
    font-size: 16px;
}
.main_photos {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.main_photos .main_text {
    margin: -10px;
}
.main_photos .main_text:nth-last-child(1) {
    margin-bottom: 40px;
}
.photos_card {
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    width: 30%;
}
.photos_card div {
    height: 220px;
    overflow: hidden;
}
.photos_card img {
    transition: 0.2s;
}
.photos_card img:hover {
    transform: scale(1.1);
}
.photos_card .nav_links {
    font-size: 18px;
    font-weight: 600;
    /* margin-bottom: 20px; */
    color: #666;
    transition: 0.2s ease-out;
}
.photos_card .nav_links:hover {
    color: #641115;
}
.why_choose_us {
    justify-content: space-between;
}
.left_choose {
    width: 70%;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
.left_choose .main_text {
    margin: 15px 0;
}
.choosing_details {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.choosing_card {
    gap: 20px;
    width: 45%;
    align-items: flex-start;
}
.img_circle {
    background-color: #2b548d;
    padding: 15px;
    border-radius: 50%;
}
.img_circle img {
    width: 100%;
    vertical-align: middle;
}
.choosing_card_details {
    text-align: left;
}
.choosing_card_details .main_text {
    margin: 0;
}
.right_choose img {
    width: 350px;
    height: 569px;
}
.contact_us {
    flex-direction: column;
    align-items: flex-start;
}
.contact_us_details {
    justify-content: space-between;
    width: 100%;
}
.address {
    margin-top: 40px;
    box-shadow: -5px 5px 4px 0 #ad0000;
    padding: 50px 30px 30px;
    background-color: #2b548d;
}
.address div {
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
}
.address div h3 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact_us {
    padding-block: 40px;
}
.feedback {
    margin-top: 80px;
    box-shadow: 0 0 10px #ccc;
    background-image: url("../images/home-contact2.jpg");
    background-size: cover;
    width: 100%;
}
.feedback_content {
    width: 80%;
    padding: 50px 30px 30px;
    background-color: #000;
    text-align: left;
}
.inputs {
    justify-content: space-between;
}
.inputs input {
    height: 35px;
    border: 0;
    border-radius: 3px !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    background: #eee;
    color: #212121;
    outline: 0;
    margin-bottom: 25px;
    padding: 10px 8px;
}
.text_area textarea {
    width: 100%;
    padding: 10px 8px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}
.sub_footer {
    background-color: #2b548d;
    /* height: 200px; */
    padding-block: 40px;
}
.sub_footer_container {
    justify-content: space-between;
}
.sub_footer_content {
    text-align: left;
    color: #fff;
}
.sub_footer_content h4 {
    font-size: 18px;
    font-weight: 600;
}
.sub_footer_content h3 {
    font-size: 24px;
    font-weight: 400;
}
.sub_footer_container button {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 35px;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #fff;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.sub_footer_container button:hover {
    background-color: #333;
    color: #fff;
}
footer {
    background-color: #1a1a1a;
}
.footer_container {
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer_container:nth-child(1) img {
    width: 100%;
}
.footer_texts {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    transition: 0.3s ease-out;
}
.footer_header {
    font-size: 20px;
    color: #fff;
    margin-bottom: 35px;
    display: inline-block;
    position: relative;
    font-weight: 500;
}
.footer_header::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #fff;
    bottom: -15px;
    left: 0;
}
.footer_section {
    width: 17%;
}
.footer_section ul li {
    margin-bottom: 10px;
}
.footer_section ul li .footer_texts:hover {
    color: #ad0000;
}
.social_icon i {
    margin-right: 10px;
    font-size: 20px;
}
/*! about_banner  */
.about_banner {
    background-image: url("../images/asset\ 3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-block: 100px;
}
.about_banner h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    font-weight: 500;
}
.about_banner h1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #2b548d;
    bottom: -10px;
    left: 0;
}
.about_banner ul li a {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}

.about_banner ul li i {
    color: #fff;
    font-size: 12px;
    margin-inline: 5px;
}
.about_us {
    padding-block: 40px;
}
.about_us_header {
    text-align: left;
}
.about_us_header .heading::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #2b548d;
    bottom: -20px;
    left: 2%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
.about_us_content {
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-start;
}
.content_text .main_text:nth-child(1) {
    margin-top: 0;
}
.content_img {
    padding: 3px;
    border: 2px solid gray;
    border-radius: 3px;
}

.small_content h2 {
    font-size: 20px;
}
.small_content ul {
    padding-inline: 50px;
    margin-top: 10px;
}
.small_content ul .main_text {
    margin: 0;
}
.services_photos .main_photos {
    padding-block: 50px;
}
.video_section {
    padding-block: 40px;
}
.center {
    text-align: center;
}
.video_area {
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 40px;
}
.videos {
    width: 20%;
    height: 250px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.videos video {
    width: 100%;
    height: 100%;
}
.gallary_area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-block: 30px;
}
.gallary_photos {
    width: 20%;
    height: 210px;
}
.gallary_photos img {
    width: 100%;
    height: 100%;
}
.contact_section {
    padding: 40px 0 0;
}

.map {
    margin-top: 30px;
}
.map iframe {
    width: 100%;
}
.main_container {
    padding-block: 40px;
}
.main_container h2 {
    font-size: 38px;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.main_container h2 span {
    color: #cd1e29;
    font-size: 35px;
}
.area_details {
    justify-content: space-between;
    height: 100%;
    align-items: unset;
}
.area_details1,
.area_details2 {
    width: 40%;
}
.area_card {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #007bff;
}
.line {
    width: 2px;

    background-color: #337ab7;
}
